body{
  margin-left: 25%;
  margin-right: 25%;
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1{
  margin: 0px;
  font-size: 100px;
  color: white;
  background-color: red;
  font-family: Arvo;
  text-align: center;
}
h2{
  margin: 0px;
  text-align: center;
  color: black;
  font-size: 100px;
}

h3{
  margin: 0px;
}
.Centre{
  color: white;
  font-size: 20px;
  background-color: #FDE400;
  margin: 0px;
}
img.I1{
  margin-right: auto;
  margin-left: auto;
  width: auto;
  filter: grayscale(0);

}

.I1:hover {
  filter: grayscale(100);
}
h4{
  margin: 0px;
}
footer{
background-color: #11294D;
display: flex;
flex-wrap: wrap;
margin: 0px;
}

.A{
  display: inline-flex;
  color: #C2C40D;
  margin: 0px;

}
p{
  font-style: italic;
}

.I2{
width: 100px;
height: 100px;
border-radius: 100%;
margin: 0px;
}
