.pepe{
	position:sticky;
	top: 0px;
	background-color: white;
	border: solid;
	border-color: #009DDC;
	box-shadow: #009DDC 10px 10px 20px;
}
.pad{
	font-family:all;
	text-shadow: #009DDC 10px 10px 20px;
	font-size: 75px;
	color: #009DDC;
	padding-top: 65px;
	float: center;
	padding-bottom: 110px;
}

.picture{float: left;
	padding-bottom: 115px;
	padding-left: 30px;

}
H2{
	text-shadow: #009DDC 6px 6px 12px;
	font-size: 50px;
	border-style: #009DDC solid;
	box-shadow: #009DDC 10px 10px 20px;
}
.biotext{
	font-size: 20px;
border-bottom: solid;
	border-bottom-color:#009DDC; 
	box-shadow: #009DDC 10px 10px 20px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
	padding-left: 25px;
}

.skillstext:hover{
	background-color: #009DDC;
	font-size:60px;
	color: white;
}
.skillstext{
	font-size: 20px;
	border-bottom: solid;
	border-bottom-color:#009DDC; 
	box-shadow: #009DDC 10px 10px 20px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
	padding-left: 25px;

}
.lifegoalstext{
	font-size: 20px;
	border-bottom: solid;
	border-bottom-color:#009DDC; 
	box-shadow: #009DDC 10px 10px 20px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
	padding-left: 25px;

}
body{
	color: #009DDC;
}